$colorPagina: #f48c06;
$fuenteContenido: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@font-face {
  font-family: titleFont;
  src: url(../fonts/Animal\ Paw.ttf);
}

html, body {
  width: 100vw;
  overflow-x:hidden;
}

.grid-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.3fr 1fr 1fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navigate-bar"
    "header"
    "content"
    "footer"; 
  height:100vh;
}
.navigate-bar { grid-area: navigate-bar; }
.header { 
  width: 100%;
  grid-area: header;
  background-image: url("../images/golden.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.content { 
  grid-area: content; 
  align-content: center;   
}
.footer { 
  grid-area: footer;
  height: 10em;
  background-color: $colorPagina;
  width: 100vw;
  align-items: center; 
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo-fot social-media"; 
}


.titulo {
  text-align: right;
  margin-right: 2em;
  padding-top: 30em;
  font-family: titleFont;
  color: black;
  text-shadow: 2px 2px 4px $colorPagina;
}

.body-page{
  width: 100vw;
  margin-bottom: 10px;
}

h1 {
  margin-right: 15px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.ponzoo-logo {
  margin-left: -25px;
  width: 95%;
}

.imagenes{
  display:flex;
  flex-wrap: wrap;  
  list-style:none;
  justify-content:space-around;
  max-width: 100%;
  height: auto;
  text-align: center;
  img {
    transition: transform .2s; /* Animation */
      &:hover {
        transform: scale(1.2);
      }
  }
}

.ponzoo {
  @extend #follow;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 1.80em;
  font-family: titleFont;
  color: black;
}

.logos{
  padding: 0;
  display:flex;
  flex-wrap: nowrap;  
  list-style:none;
  justify-content:center;
  gap: 20px;
}

.foot{
  display: block;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
    &:hover {
      animation: shake 10.82s cubic-bezier(.36, .07, .19, .97) both infinite;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
}

@keyframes shake {
  .76%, 6.84% {transform: translate3d(-1px, 0, 0)}
  1.52%, 6.08% {transform: translate3d(2px, 0, 0)}
  2.28%, 3.8%, 5.32% {transform: translate3d(-4px, 0, 0)}
  3.04%, 4.56% {transform: translate3d(4px, 0, 0)}
}

@keyframes shakeservices {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.description {
  @extend #follow;
  margin: 3em 3em 3em 3em;
  font-family:$fuenteContenido ;
}


.video {
  text-align: center;
}

.serv {
  @extend #follow;
  margin-left: 3em;
  margin-right: 3em;
  font-family:$fuenteContenido ;
}

#imgscs {
  max-width: 20%;
  height: auto;
    &:hover {
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: shakeservices 1s;

      /* When the animation is finished, start again */
      animation-iteration-count: infinite;
    }
}

.map {
  margin-bottom: 15px;
}

.vets {
  padding-top: 5px;
}

#contact {
  margin-bottom: 25px;
}

.logo-fot { grid-area: logo-fot; }
.social-media { 
  grid-area: social-media;
}

#follow {
  text-align: center;
  font-weight: bolder;
}

.carousel {
  max-width: 700px;
  width: 60%;
}

.carrusel {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.carousel-caption {
  text-shadow: 2px 2px 4px black;
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

$redes: (
    red1: black,
    red2: #9c9c9c,
    red3: $colorPagina,
    red4 : #04643c,
    );

@each $red, $color in $redes {
    .crl--#{$red} {
        text-shadow: 0px 0px 10px $color ;
    }
}



@media (max-width: 650px) {
  .video iframe {
    @include sizes(500px, 280px);
  }

  .map  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 525px) {
  .header {
    background-image: url("../images/header-mini.png");
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .titulo {
    padding-top: 60%;
    margin-right: 0;
  }

  .titulo h1 {
    font-size: xx-large;
    text-align: center;
    font-family: titleFont;
    color: black;
    text-shadow: 1px 1px 2px $colorPagina;
    margin-right: 0px;
  }

  .video iframe {
    @include sizes(365px, 235px);
  }

  p {
    font-size: 95%;
  }

  .footer { 
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo-fot"
      "social-media";
    height: 208px;
  }

  .logo-fot {
    margin-top: 8px;
    margin-bottom: -15 px;
  }

  #imgscs {
    max-width: 60%;
    height: auto;
  }

  .vets img{
    @include sizes(350px, 268px);
  }
}

@media (max-width: 390px) {

  button.navbar-toggler {
    padding: 0.1rem 0.4rem;
    font-size: 1rem;
  }

  a.navbar-brand {
    width: 70%;
  } 

  .titulo {
    padding-top: 80%;
  }

  .service img{
    width: 70%;
  }

  .video iframe {
    @include sizes(260px, 190px);
  }

  p {
    font-size: 90%;
  }

  .vets img{
    @include sizes(250px, 191px);
  }
  
}
